.App {
  padding: 20px;
  padding-top: 0;
}

textarea {
  width: 100%;
}

.app-main-textarea {
  height: 30vh;
}

.app-main-textarea-min {
  height: 20vh;
}

.app-main-textarea-line {
  height: 2rem;
}

.app-main-encode {
  display: flex;
  justify-content: space-between;
}

.app-main-encode textarea {
  width: 49%;
}
